.title{
  padding-top: 40px;
}

.textCenter{
  text-align: center;
}

.item{
  border: 2px solid gray;
  border-radius: 6px;
  min-height: 100px;
}

.name{
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
}